@font-face {
    font-family: Arachne; // 自定义名称，无需引号
    src: url('/src/assets/nft/font/Arachne.ttf')
}

@font-face {
    font-family: IBM Plex Sans; // 自定义名称，无需引号
    src: url('/src/assets/nft/font/IBMPlexSans-Medium.ttf')
}

@font-face {
    font-family: Poppins; // 自定义名称，无需引号
    src: url('/src/assets/nft/font/PPfragment.otf') format("opentype");
}

@font-face {
    font-family: PP Fragment; // 自定义名称，无需引号
    src: url('/src/assets/nft/font/PPfragment.otf') format("opentype");
}

.container {
    min-width: 355px;
    height: 100%;
    padding: 0 55px;
}

// 通用btn start
.btn {
    width: 142px;
    height: 37px;
    background-image: linear-gradient(148deg, #717171, #B5B5B5);
    border-radius: 43px;
    overflow: hidden;
    padding: 3px;
    font-family: IBM Plex Sans;
    font-weight: 400;
    font-size: 18px;
    color: #8B8F9F;
    cursor: pointer;

    .cnt {
        width: 100%;
        height: 100%;
        background-color: #000;
        border-radius: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

.btn:hover {
    .cnt {
        color: #fff;
    }
}




.nftList {
    margin: 55px;

    .listBox {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        .item {
            border-radius: 12px;
            padding: 14px;
            box-shadow: 0 2px 10px rgb(0, 0, 0, 0.12);
            margin-top: 30px;
            cursor: pointer;

            .img {
                width: 340px;
                height: 540px;
                overflow: hidden;
                border-radius: 10px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .title {
                font-size: 21px;
                font-weight: 500;
                font-family: Poppins;
                line-height: 32px;
                margin: 15px 0;
            }

            .attr {
                background-image: linear-gradient(to right, #F1D5F2 30%, #FFFFFF);
                background-image: linear-gradient(to right, rgba(241, 213, 242, 1), rgba(241, 213, 242, 0) 80%);
                padding: 12px;
                border-radius: 8px;
                display: flex;

                .item2 {
                    p {
                        margin: 0;
                        color: #666666;
                    }

                    .val {
                        margin-top: 10px;
                        color: #000;
                        display: flex;
                        align-items: center;

                        img {
                            margin-left: 10px;
                        }
                    }
                }

                .item2:first-child {
                    margin-right: 50px;
                }
            }
        }

        .item:hover {
            .img {
                transform: scale(1.05);
                transition: transform 500ms;
            }
        }

        .item:nth-child(4) {
            margin-right: 0;
        }
    }
}


.banner2 {
    width: 100%;
    height: 666px;
    //background-color: #000;
    max-width: 1700px;
    margin: 120px auto;
    border-radius: 30px;
    overflow: hidden;
    position: relative;

    .bg {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .cnt {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        color: #fff;

        .h1 {
            font-size: 64px;
            font-weight: 400;
            text-transform: uppercase;
        }

        .desc {
            width: 50%;
            font-size: 21px;
            font-family: Poppins;
            line-height: 32px;
            text-align: center;
        }
    }
}

.banner2:hover {
    .bg {
        img {
            transform: scale(1.05);
            transition: all .8s ease-in-out;
        }
    }
}

// 通用btn end


@media screen and (max-width: 800px) {
    .container {
        padding: 0 10px;
    }

    .nftList {
        margin: 10px;
        .listBox {
            flex-direction: column;
            justify-content: center;

            .item {
                .img {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 500px) {
    .banner2 {
        margin: 0 auto;

        .cnt {
            width: calc(100% - 40px);
            margin: 0 auto;
            ;

            .h1 {
                font-size: 48px;
            }

            .desc {
                width: 100%;
            }
        }
    }
}